:root{
    --Black: rgb(56, 56, 56);
    --background: rgb(255, 255, 255);
    --verde:  #464646;
    --azul: #047a0e;
    --titulo: #29ca31;
}   




.title{
    font-weight: bold;
    font-size: 30px;
    color:var(--titulo);
    margin-right: 40px;

}
.title__span{
    font-size: 16px;
    font-weight: lighter;
    color: var(--Black);
    margin-left: 40px;
}
.nav__link{
    text-decoration: none;
    font-size: 16px;
    color: var(--Black);
    font-weight: bold;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 17px;
}
.nav__link:hover{
    color: #3759D4;
    border-top: 5px #3759D4 solid;
    height: 45px;
    font-weight: 600;
}
.item__lista{
    display: flex;
    height: 100%;
    text-align: center;
    white-space:nowrap;
}
.item__lista > li{
    width: 100%;
}
.nav{
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    color: var(--Black);
}
.nav__content{
    display: flex;
    align-items: center;
}
.nav__content--title{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.nav__content--link{
    display: flex;
    width: 30%;
    justify-content:flex-end;
}

.btn__menu{

    width: 50px;
    height: 50px;
    position: absolute;
    top: 2.5px;
    right: 5px;
    display: flex;
}

.btn__menu__item, .btn__menu__item::after, .btn__menu__item::before{
    background-color: rgb(36, 36, 36);
    width: 70%;
    margin: auto;
    height: 4px;
}

.btn__menu__item::after{
    content: "";
    position: absolute;
    top: 13px;
}
.btn__menu__item::before{
    content: "";
    position: absolute;
    bottom: 13px;
}
.header{
    height: 100vh;
    background-image: url('../img/oleg-laptev-0CVbBwUkvqk-unsplash.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 0 50px;
}

.header__img--cam{
    max-width: 100%;
}

.item__logo{
    
}

.svg_animate{
    width: 50%;
    height: 500px;
    margin: auto;
}




@media only screen and (max-width: 660px){
    .item__lista{
        display: block;
        visibility: hidden;
        background-color: rgb(255, 255, 255);
        width: 100%;

        z-index: 1;
    }
    .header__item{
        height: 300px;
    }

    .show_menu{
        visibility: visible;
    }
    
    .nav{
        display: block;
        padding: 0;
    }
    .nav__content--link{
        width: 100vw;
    }

    .title{
        padding: 0 17px;
    }

    .nav__content--title{
        height: 55px;
    }

    .item__logo{
        margin-top: 20px;
    }

}

@media only screen and (max-width: 1004px) {
    .title__span{
        display: none;
    }

    .header__item{
        height: 360px;
    }

}
