*{
    box-sizing: border-box;
}
.nav{
    position: fixed;
    z-index: 999;
}
.gallery{
    position: relative;
    padding: 5px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.gallery__row{

    padding: 5px;
    width: 100%;
    width: calc(100% /5);
}

.gallery__item{
    margin-top: 5px;
    max-width: 100%;
    transition: transform .2s; /* Animation */

}

.gallery__item:hover{

    transition: transform .2s; /* Animation */
    border-radius: 5px;
    transform: scale(1.1);
    z-index: 99;
}

.top__gallery{
    width: 90%;
    margin:auto;
    height: 100px;
    border-bottom: 1px solid greenyellow;
    margin-bottom: 60px;
}

.bottom__gallery{
    width: 90%;
    margin: auto;
    height: 30px;
    margin-top: 60px;
    border-top: 1px solid greenyellow;
}

.container__viewver{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 15px;
    width: 90%;
    height: 95vh;
    left: 50%;
    top: 90%;
    transform: translate(-50%);
    visibility: hidden;
    background: rgba(235, 235, 235, 0);
    backdrop-filter: blur(10px);
}

.icon__gallery--close{
    position: absolute;
    right: 45px;
    top: 55px;
    width: 60px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transform: rotate(-45deg);
}
.icon__gallery--close::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    transform: rotate(90deg);
    border-radius: 5px;
}



.img__view{
    border-radius: 15px;
}


@media screen and (max-width: 1220px){
    .gallery__row{
        width: calc(100% / 4);
    }
}


@media screen and (max-width: 1000px){
    .gallery__row{
        width: calc(100% / 3);
    }
}


@media screen and (max-width: 880px){
    .gallery__row{
        width: calc(100% / 2);
    }
}


@media screen and (max-width: 480px){
    .gallery__row{
        width: 100%;
    }
}
