:root{
    --Black: rgb(56, 56, 56);
    --background: rgb(255, 255, 255);
    --verde:  #464646;
    --azul: #047a0e;
    --titulo: #29ca31;
}   




.title{
    font-weight: bold;
    font-size: 30px;
    color:var(--titulo);
    margin-right: 40px;

}
.title__span{
    font-size: 16px;
    font-weight: lighter;
    color: var(--Black);
    margin-left: 40px;
}
.nav__link{
    text-decoration: none;
    font-size: 16px;
    color: var(--Black);
    font-weight: bold;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 17px;
}
.nav__link:hover{
    color: #3759D4;
    border-top: 5px #3759D4 solid;
    height: 45px;
    font-weight: 600;
}
.item__lista{
    display: flex;
    height: 100%;
    text-align: center;
    white-space:nowrap;
}
.item__lista > li{
    width: 100%;
}
.nav{
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    color: var(--Black);
    z-index: 9;
}
.nav__content{
    display: flex;
    align-items: center;
}
.nav__content--title{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.nav__content--link{
    display: flex;
    width: 30%;
    justify-content:flex-end;
}

.btn__menu{

    width: 50px;
    height: 50px;
    position: absolute;
    top: 2.5px;
    right: 5px;
    display: none;
}

.btn__menu__item, .btn__menu__item::after, .btn__menu__item::before{
    background-color: rgb(36, 36, 36);
    width: 70%;
    margin: auto;
    height: 4px;
}

.btn__menu__item::after{
    content: "";
    position: absolute;
    top: 13px;
}
.btn__menu__item::before{
    content: "";
    position: absolute;
    bottom: 13px;
}
.header{
    position: relative;/*
    background-image: url('../img/oleg-laptev-0CVbBwUkvqk-unsplash.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header__item{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 0 50px;
}

.header__img--cam{
    max-width: 100%;
}

.svg_animate{
    width: 50%;
    height: 500px;
    margin: auto;
}

.svg{
    position: absolute;
    z-index: -1;
    bottom: 0;
    fill: #3759D4;
}

.svg path{
    fill: #29ca34;
}

.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.content__title{
    margin: 25px 0;
    color: #29ca34;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.content__services__subtitulo{
    color: #29ca34;
}

.content__services__parrafo{
    color: #464646;
}

.content__item{
    box-sizing: border-box;
    width: 500px;
    height: 350px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content__item img{
    height: 250px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.footer{
    margin-top: 50px;
    background-color: rgb(56, 56, 56);
    border-top: #13ee1e 5px solid;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: seashell;
    justify-content: space-around;
}

.footer__item{
    width: 25%;
    min-width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__item__contact{
    color: #13ee1e;
    font-size: 29px;
}

i{
    max-height: 100%;
}



.footer__icon{
    width: 50px;
    max-width: 100%;
    height: auto;
}

.footer__bottom > p, .footer__bottom{
    text-align: center;
    padding: 0;
    margin: 0;
    margin: auto;
    padding-bottom: 10px;
}

.footer__icon:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.footer__item__contact:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

@media only screen and (max-width: 1004px) {
    .title__span{
        display: none;
    }

    .header__item{
        height: 350px;
    }

    .item__img{
        width: 40%;
    }

}


@media only screen and (max-width: 660px){

    .btn__menu{
        display: flex;;
    }

    .item__lista{
        display: block;
        visibility: hidden;
        background-color: rgb(255, 255, 255);
        width: 100%;
        z-index: 1;
    }
    .header__item{
        height: 300px;
    }

    .item__img{
        height: 240px;
    }

    .show_menu{
        visibility: visible;
        border-bottom: #29ca31 solid 4px;
    }
    
    .nav{
        display: block;
        padding: 0;
    }
    .nav__content--link{
        width: 100vw;
    }

    .title{
        padding: 0 17px;
    }

    .nav__content--title{
        height: 55px;
    }



}
