*{
    box-sizing: border-box;
}
.nav{
    position: relative;
}
.gallery{
    padding: 5px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.gallery__row{
    position: relative;
    padding: 5px;
    width: 100%;
    width: calc(100% /5);
}

.gallery__item{
    margin-top: 5px;
    max-width: 100%;
    transition: transform .2s; /* Animation */

}

.gallery__item:hover{
    position: relative;
    transition: transform .2s; /* Animation */
    border-radius: 15px;
    transform: scale(1.1);
    z-index: 99;
}

@media screen and (max-width: 1220px){
    .gallery__row{
        width: calc(100% / 4);
    }
}


@media screen and (max-width: 1000px){
    .gallery__row{
        width: calc(100% / 3);
    }
}


@media screen and (max-width: 880px){
    .gallery__row{
        width: calc(100% / 2);
    }
}


@media screen and (max-width: 480px){
    .gallery__row{
        width: 100%;
    }
}
