/*reset de estilos y estilos globales, fuentes*/

body{
    margin: 0;
    padding: 0;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Baloo Chettan 2', cursive;
}

li{
    list-style: none;
}

h1, ul{
    margin: 0;
    padding: 0;
}
